<script type="text/javascript">
    var title = "{{ page.date }}";
var did = '';
if(title == '')
    did = "{{ site.posts.first.title | remove:' ' | remove:','}}";
else
    did = "{{ page.title | remove:' ', | remove:',' }}"
    var disqus_identifier = "trickeries."+did;
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://trickeries.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

<script type="text/javascript">
var disqus_shortname = 'trickeries';
var disqus_developer = false;
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/trickeries/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
