<script type="text/javascript">
    var page_url = '{{ page.url }}'
    var post_title = '{{ page.title }}';
    var home_page_post_title = '{{ site.posts.first.title }}';

    if(page_url != '/'){
        did = post_title;
    }
    else{
        did = home_page_post_title;
    }

    did = did.replace(/[^\w]/g, '');
    var disqus_identifier = "trickeries."+did;
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://trickeries.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

<script type="text/javascript">
var disqus_shortname = 'trickeries';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/trickeries/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
